In [1]:
%cd /root/share/Real/KAIST/word_chain/alphazero-general/alphazero/envs/wordchain
%load_ext autoreload
%autoreload 2

/root/share/Real/KAIST/word_chain/alphazero-general/alphazero/envs/wordchain

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('data/20241112_전처리3db.csv')

In [14]:
ap = "균"
ggeut = "균"

data[(data["앞말"] == ap) & (data["끝말"]==ggeut)]

         단어 품사 앞말 끝말 두음
179729  균핵균  1  균  균  균